@{
    ViewData["Title"] = "Sobre";
}
<h2>Sobre</h2>
<br />
<h3>Desenvolvido por:</h3>

<div class="row">
    <div class="col-md-5">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Nomes</th>
                    <th>RA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Fábio Arrais Gomes da Silva</th>
                    <th>082180031</th>
                </tr>
                <tr>
                    <th>Guilherme Harich</th>
                    <th>082180023</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>


