
@{
    ViewData["Title"] = "Área dos Administradores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Área dos Administradores</h2>


<br />
<a class="btn btn-primary form-control" href="/Desenvolvedora/Criar">Cadastrar novos Desenvolvedores</a>
<br />
<a class="btn btn-primary form-control" href="/Desenvolvedora/Listar">Listar Desenvolvedores</a>
<br />
<br />
<a class="btn btn-primary form-control" href="/Publicadora/Criar">Cadastrar novas Publicadoras</a>
<br />
<a class="btn btn-primary form-control" href="/Publicadora/Listar">Listar Publicadoras</a>
<br />
<br />
<a class="btn btn-primary form-control" href="/Categoria/Criar">Cadastrar novas Categorias</a>
<br />
<a class="btn btn-primary form-control" href="/Categoria/Listar">Listar Categorias</a>
<br />
<br />
<a class="btn btn-primary form-control" href="/Jogo/Criar">Cadastrar novos Jogos</a>
<br />
<a class="btn btn-primary form-control" href="/Jogo/Listar">Listar Jogos</a>
